<div class="datos">
    <br>
    <h4><strong>Datos Componet</strong></h4>
    <br>
    <h6><strong>Nombre:</strong> {{ nombre}}</h6>
    <h6><strong>email:</strong> {{ email}}</h6>
    <h6><strong>Dirección:</strong> {{ direccion}}</h6>
    <h6><strong>Teléfono:</strong> {{ telefono}}</h6>
    <!--Barra sociales-->
    <div>
        <section class="content">
            <div class="social">
                <ul>
                    <li>
                        <a href="http://www.facebook.com/alexmh.marrufo/" target="_blank" class="fab fa-facebook"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/alexmhmarrufo/" target="_blank" class="fab fa-instagram"></a>
                    </li>
                    <li>
                        <a href="https://mail.google.com/mail" target="_blank" class="fas fa-envelope"></a>
                    </li>
                    <li>
                        <a href="http://www.github.com/AlexMarrufo18" target="_blank" class="fab fa-github"></a>
                    </li>
                    <li>
                        <a href="http://www.pinterest.com/usuario" target="_blank" class="fab fa-pinterest"></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <button type="button" class="info">Información</button>
    <div>
        <p>Hola, bienvenidos mi nombre es <br> Alex Marrufo Huamán, estudio <br> Ingeniería de Sistemas en la <br> Universidad Nacional de Cajamarca</p>
    </div>
</div>